.area {
  width: 100%;
  max-width: 660px;
  position: relative;
}

.area_text {
  resize: none;
  width: 100%;
  max-width: 660px;
  min-height: 200px;
  min-width: 100%;
  border-radius: 16px;
  border: 1px solid #eee;
  outline: none;
  padding: 20px 30px;
  margin-bottom: 25px;
}

.area_download {
  position: absolute;
  top: 20px;
  left: 30px;
  font-size: 14px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: -0.05px;
}
.placeholder {
  color: #a0a1a4;
}
.input_download-label {
  color: #0068e4;
  cursor: pointer;
}
.input_download {
  display: none;
}
